
header  {
  align-items: center;
  display: flex;
  position: fixed;
  z-index: 1;
  width: 100%;
  border-bottom: 1px solid black;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  background-color: white;
}

.myt-logo  {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 20px;
  padding-bottom: 10px;
  border: 2px solid black;
}

#logo {
  color: MediumAquamarine;
}

nav span {
  display: inline-block;
  padding: 5px;
  margin-right: 20px;
}

nav span a {
  color: #000000;
}

.main-container {
  display: flex;
  border: 2px solid black;
}

.column.large {
  display: flex;
  width: 630px;
  border: 2px solid black;
}

#phish {
  border: 2px solid black;
}
#phish p {
  border: 1px solid black;
}

#orca {
  border: 2px solid black;
}

#earth {
  border: 2px solid black;
}

#burger {
  border: 3px solid black;
}
#cameras {
  border: 2px solid black;
}
.column.medium {
  display: flex;
  width: 300px;
  border: 2px solid black;
}

#fbi {
  border: 3px solid black;
}

#cats {
  border: 2px solid black;
}
.column.small {
  display: flex;
  width: 240px;
  border: 2px solid black;
}

#cookie {
  border: 2px solid black;
}
#bites {
  border: 2px solid black;
}
